# ─────────────────────────────────────────────────────────────
# terraform.tfvars
# NEVER commit this file to version control.
# ─────────────────────────────────────────────────────────────

# ── AWS Networking ──
vpc_name_east = "aa-mr-pl-east"
vpc_name_west = "aa-mr-pl-west"
vpc_tag       = "aa-mr-pl"

# ── Cloud9 Workstation ──
cloud9_name      = "aa-mr-pl-c9-jumpboz"
cloud9_disable_managed_creds = false
cloud9_owner_arn = "arn:aws:sts::829250931565:assumed-role/AWSReservedSSO_nonprod-administrator_ff555b249eb304bc/vjeevaraj@confluent.io"
cloud9_disk_size = 500
# cloud9_instance_type = "t3.small"   # default, uncomment to change

# ── Confluent Cloud Credentials ──
confluent_cloud_api_key    = ""
confluent_cloud_api_secret = ""
aws_account_id = "123445678"

# ── Kafka Clusters ──
environment_name     = "aa-mr-pl-env"

cluster_type         = "DEDICATED"
cluster_name_east    = "core-app-east"
cluster_name_west    = "core-app-west"
cluster_availability = "SINGLE_ZONE"
cluster_cku          = 1

# ── Topics ──
topic_name_east       = "orders_east"
topic_name_west       = "orders_west"
topic_partitions      = 3
consumer_group_prefix = "orders-consumer"
